<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellow world em Spring</title>


    <link href="CSS/Estilos.CSS" rel="stylesheet" type="text/CSS" media="all">
</head>
<body>
    <marquee>
        <h1>olá, mundo  em Spring!!!</h1>
    </marquee>
    <hr>
    <div>
        <div class="img">
        <figure>
            <img src="img/imagem.jpg" alt="pexels-khoa-vo-2347166-29054973" >
        </figure>
    </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>